apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: tdmy
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: tdmy
    app.kubernetes.io/part-of: byoc-app-ttcy
  name: tdmy
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: java-quarkus-app
      app.kubernetes.io/instance: tdmy
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: java-quarkus-app
        app.kubernetes.io/instance: tdmy
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/byoc-kbxk-tenant/byoc-app-ttcy/tdmy@sha256:dabb5e32d81dba557a739b362d9227deee7153baa6d7a0f401ab24c4706e4128
        name: my-java-quarkus
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        resources:
          requests:
            cpu: 10m
            memory: 100Mi
status: {}
